
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;

}

.carousel {
  position: relative;
}

.slides {
  margin: auto;
  display : flex;
  max-width: 800px;
  list-style-type: none;
  text-align: center;

 
}


.arrow {
  margin-top:180px;

}
.arrow-left{
  margin-left:10%;
}

.arrow-right{
  margin-right:10%;
}

.arrow:hover {
  color:green;

  //box-shadow: 2px 2px 0 2px #7ABB3B;
  //-webkit-box-shadow: 4px -4px #7ABB3B;
}


img{
  width:800px;
  height: auto;

}